* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family:Arial;
  background-color: #f5ea14;
}

.navbar {
  overflow: hidden;
  background-color: #49a2da;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  position: sticky;
  z-index: 1;
  top: 0;
}



.navbar a {
  float: left;
  font-size: 3vh;
  min font-size: 1vh;
  color: cyan;
  text-align: center;
  padding: 2vh 10vw;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: red;
  color: cyan;
  padding: 2vh 10vw;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #49aede ;
}

.navbar .active {
  background-color: hidden;
}

.content {
  /* padding: 16px; */
}

.sticky {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 100%;
  height: 20vh;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #FFFFFF;
  height: 40vh;
  min-height: 5vh;
  font-size: 2vw;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1.5vw;
  margin-left: 3%;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



 @media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* centers any image use with the center class */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;

}
/* this to get that colour scheme of yellow and blue */
.orderblue{
    padding-top: 5%;
    padding-left: 37%;
    padding-right: 37%;
    padding-bottom: 5%;
    width: 100%;
    background-color: #49a2da;
    font-size: 1.1vw;
    text-align: justify;
}

.orderyellow{
    padding-top: 5%;
    padding-left: 37%;
    padding-right: 37%;
    padding-bottom: 5%;
    background-color: #f5ea14;
    font-size: 1.1vw;
    text-align: justify;
}

.order{
    padding-top: 5%;
    padding-left: 37%;
    padding-right: 37%;
    padding-bottom: 23%;
    background-color: white;
    font-size: 1.1vw;
    text-align: justify;
    height: 1000px;
}



* {box-sizing: border-box;}
.wrapper {
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #49a2da;
  padding-top: 5%;
  padding-bottom: 5% ;
}

.wrapper > div {
  border: none;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
  font-size: 1.1vw;
  background-color: #49a2da;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 6vw;
  grid-auto-rows: minmax(50px, autp);
  background-color: #49a2da;
}
.one {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  text-align: justify;
}
.two {
  grid-column: 2;
  grid-row: 1 ;
  text-align: center;
  text-align: justify;
}
.three {
  grid-column: 3 ;
  grid-row: 1;
  text-align: right;
  text-align: justify;
}


 span.deal {
   display: block;
   width: 100%;
   height: 10vh;
   min-height: 30px;
   max-height: 50px;
   padding: 5px;
   border: 1px solid black;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   background-color: #9546d6;
   font-size: 1vw;
   position: static;
 }



 .accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 60%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 90%;
   transition: 0.4s;
 }

 .active, .accordion:hover {
   background-color: #ccc;
 }

 .accordion:after {
   color: #777;
   float: right;
   margin-left: 5px;
   font-size: 1px;

 }

 .active:after {
   content: "\2212";
 }

 .panel {
   padding: 0 18px;
   background-color: white;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   width: 60%;
   font-size: 85%;
   text-align: justify;
 }












 .mySlides {display: none;}
 img {vertical-align: middle;}

 /* Slideshow container */
 .slideshow-container {
   max-width: 100%;
   position: relative;
   margin: auto;
 }

 /* Caption text */
 .text {
   color: black;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }

 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }



 .active {
   background-color: #717171;
 }

 /* Fading animation */
 .fade {
   -webkit-animation-name: slide;
   -webkit-animation-duration: 1.5s;
   animation-name: slide;
   animation-duration: 1.5s;
 }

 @-webkit-keyframes slide {
   from {opacity: .4}
   to {opacity: 1}
 }

 @keyframes slide {
   from {opacity: .4}
   to {opacity: 1}
 }
 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
   .text {font-size: 11px}
 }
